h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
}

body{
    font-family: 'Open Sans',sans-serif;
}

/* Navbar */

.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 120px;
    background-color: rgba(0, 0, 0, 0.31);
    transition: all ease-out .4s;
    z-index: 100;
}

.header li{
    list-style: none;
}

.header a{
    color: #fff;
}

.navbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0;
}

.navbar-logo{
    font-size: 22px;
    text-decoration: none;
    font-weight: 400;
    width: 18%;
}

.nav-img{
    width: 23%;
    margin-right: 10px;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    margin: 0 0 1rem;
}

.header .nav-links{
    position: relative;
    font-size: 17px;
    text-decoration: none;
    padding-bottom: 18px;
    top: 7px;
    transition: ease-out 0.2s;
}


.header .nav-links:hover{
    color: #fff;
}


.header .nav-links::before{
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: .5s;
}

.header .nav-links:hover::before,.header .nav-links:active::before{
    width: 100%;
}

.header .nav-links.active{
    color: #c5b358;
}


/* Fixed navbar Section*/

.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 120px;
    animation: navbar .6s backwards ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 99;
}

.header-fixed .navbar-logo{
    color: #242424;
}

.header-fixed .nav-links{
    color: #242424;
    padding-bottom: 12px;
}

.header-fixed .nav-links:hover{
    color: #f5df71;
}

.header-fixed .nav-links::before{
    background-color: #f5df71;
}

.navbar .toggle-btn{
    color: #000;
    cursor: pointer;
    display: none;
    transition: all 0.5s;
}


    /* Dropdown Menu */

.dropdown-m{
    position: absolute;
    padding: 0 40px;
    left: 0;
    right: 0;
    top: 90px;
    height: 0;
    background-color: #fff;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
} 

.dropdown-m.open{
    height: auto;
    transition: height 1s ease;
}

.dropdown-m li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-m hr{
    margin: 0;
    border: #000 solid 1px;
}

.dropdown-m li a{
    text-decoration: none;
}

.dropdown-m li a::after:active{
    height: 2px;
    width: 100%;
    color: #fff;
}

.dropdown-m .nav-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}


@keyframes navbar {
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translateY(0);
    }
}


/* Home Section */

#home{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#home::before{
    z-index: 90;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #35374b65;
}

#home video{
    z-index: -1;
}

.video-container{
    position: relative;
}

.video-container div{
    width: 100%;
    height: 100vh;
}


.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.slider-navigation{
    z-index: 91;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(600px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.slider-navigation .nav-btn.active{
    background-color: #c5b358;
}

.content{
    display: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 9%;
    z-index: 91;
}

.content h1{
    font-weight: 500;
    font-size: 99px;
    animation: textAni 1s ease-in-out;
}

.content p{
    font-size: 500;
    font-size: 20px;
    animation: textAni 1s ease-in-out 0.5s backwards;
}

.content.active{
    display: block;
}

.ani{
    animation: textAni2 5s ease-in-out forwards;
}

.ani-delay{
    animation:  textAni2 5s ease-in-out backwards .6s;
}

@keyframes textAni2 {
    0%{
        transform: translatex(-50px);
        opacity: 0;
    }
    30%{
        transform: translatex(0);
        opacity: 1;
    }
    80%{
        transform: translatex(0);
        opacity: 1;
    }
    100%{
        transform: translatex(150px);
        opacity: 0;
    }
}

@keyframes textAni {
    0%{
        transform: translatex(-50px);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
}


/* About us */

#about-us{
    padding: 5%;
}

/* Countdown Section */

#counter{
    padding: 10%;
    text-align: center;
    background-image: url("../images/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space.jpg");
    background-position: center;
    background-size: contain;
    position: relative;
}

#counter::before{
    z-index: 90;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #30241fbe;
}

.countdown{
    z-index: 91;
    position: relative;
}

.countdown h2{
    font-size: 40px;
    color: #fff;
}

.countdown p{
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
}


.launch-time{
    display: flex;
    justify-content: center;
}

.launch-time div{
    flex-basis: 200px;
}

.launch-time div p{
    font-size: 100px;
    font-weight: 600;
    margin-bottom: -14px;
    color: #fff;
}

.launch-time div span{
    font-size: 20px;
    color: #fff;
}

/* Gallary Section */

#gallery{
    display: block;
    padding: 17% 0 0;
    background-color: #dddddd;
}

.gallery-wrapper{
    display: flex;
}

.gallery-img{
    width: 20%;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.gallery-img img{
    width: 100%;
}

.gallery-img::before{
    position: absolute;
    content: "";
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 91;
    transition: all .3s ease-in-out;
}

.gallery-img:hover::before{
    opacity: 0.5;
}

#gallery-carousel{
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left:0 ;
    background-color: #000000d7;
}

.carousel-content{
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 10%;
    left: 20.8%;
    transition: opacity ease .6s;
}

/* .carousel-content.active{
    display: block;
} */

.carousel-img{
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin-bottom: 15px;
}

.carousel-img img{
    width: 100%;
}

.close-btn{
    float: right;
}

.gallery-car a{
    color: #fff;
    cursor: pointer;
}

.gallery-car a:hover, .gallery-car a:active{
    color: #636363;
}

.carousel-content span{
    padding: 0 35px 0 40px;
}

.carousel-content .last-child{
    padding: 0 35px 0 30px;
}



/* Social media Section */

.som-row{
    display: flex;
}

#social-media .som-row{
    width: 100%;
}

.som-logo{
    flex: 1 0 225;
    height: 200px;
    display: block;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.som-logo p{
    display: none;
    margin-top: 12px;
    color: #757575;
}

.som-logo:hover p{
    display: block;
    animation: somHover ease-in-out 0.5s;
}

.som-logo img{
    width: 35%;
    margin-top: 60px;
    transition: all .3s ease;
}

.som-logo:hover img{
    margin-top: 35px;
    transition: all .3s ease;
}

.som-logo:hover{
    cursor: pointer;
}

.som-row .grey{
    background-color: #171717;
}

.som-row .black{
    background-color: #0d0d0d;
}

@keyframes somHover {
    0%{
        transform: translateY(10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/* Lastest Video Section */

#latest{
    padding: 7% 0;
    background-color: #222222;
    background-image: url("../images/photo_2024-03-19_09-18-39.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#latest h2{
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    padding: 40px 0 50px 0;
}

.vid{
    width: 800px;
    height: 450px;
    margin: 0 auto;
}


/* Footer Section */

.footer-top{
    padding: 70px 10%;
    background-color: #000;
    color: #f5df71;
    display: flex;
    gap: 70px;
}

.footer-top h3{
    margin-bottom: 40px;
    font-weight: 600;
}

.footer-top p{
    font-size: 15px;
    color: #f5df71e3;
}

.footer-top i{
    padding-right: 25px;
    color: #f5df71e3;
    transition: .3s;
}

.footer-top i:hover{
    color: #c5b358;
}

.reach-us p{
    margin-bottom: 0;
}

.reach-us div{
    padding-top: 30px;
}

.footer-bottom{
    background-color: #1c1c1c;
    color: #636363;
    padding: 50px 10%;
    justify-content: space-between;
    font-size: 15px;
}

.footer-bottom p{
    margin-bottom: 10px;
}

.footer-bottom div{
    text-align: right;
}

.footer-bottom i{
    padding-right: 25px;
    transition: .3s;
}

.footer-bottom i:hover{
    color: #c5b358;
}



/* Bookings Page */

#booking{
    position: relative;
    padding: 3% 28% 4%;
}

.booking-h{
    background-image: url("../images/img2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
    position: relative;
}

.booking-h::before{
    z-index: 2;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #35374b5d;
}

.booking-h h1{
    z-index: 3;
    position: relative;
    text-align: center;
    padding: 20% 0 13%;
    font-weight: 500;
    font-size: 69px;
    color: #fff;
}



.input-row{
    display: flex;
    justify-content: space-between;
    
}

.input-group{
    padding-bottom: 15px;
}

.input-row .input-group{
    flex-basis: 48%;
}

.input-group input, .input-group select, .input-group textarea{
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;  
}

.input-group textarea{
    height: 150px;
}

.input-group .input-textbox{
    width: 15px;
    margin-right: 10px;
}

.input-group .textbox{
    margin: auto;
}

.input-group label{
    color: #686868;
    font-size: 14px;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 5px;
}

.form-button{
    width: 100%;
    border: #dddddd 1px solid;
    padding: 6px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #686868;
    border-radius: 7px;
}

/* Videos Page */

.vidoes-h{
    background-image: url("../images/man-playing-music-international-jazz-day.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    width: 100%; 
    position: relative;
}

.vidoes-h::before{
    z-index: 2;
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #35374b5d;
}

.vidoes-h h1{
    z-index: 3;
    position: relative;
    text-align: center;
    padding: 20% 0 13%;
    font-weight: 500;
    font-size: 59px;
    color: #fff;
}

#videos{
    padding: 3% 12% 5%;

}

.v-vid{
    width: 650px;
    height: 350px;
    margin: 0 auto;
}

.vid-group{
    margin-top: 60px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.v-vid2{
    width: 450px;
    height: auto;
}

.vid-btn{
    display: flex;
    justify-content: center;

}


.videos-btn {
    margin: 90px auto 0;
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    background: #c5b358;
    padding: 18px 20px 18px 20px;
    text-decoration: none;
  }
  
.videos-btn:hover {
    color: #fff;
    background: #b8a64f;
    text-decoration: none;
}

/* Back to top Section */

.up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #222222;
    color: #fff;
    padding: 13px 19px;
    border-radius: 15%;
    z-index: 101;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.up.active{
    visibility: visible;
    opacity: 1;
}

/* Preloader Section */

.preloader{
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 200;
    transition: opacity 0.75s, visibility 0.75s;
}

.preloader--hidden{
    opacity: 0;
    visibility: hidden;
}


.custom-loader {
    position: fixed;
    top: 50%;
    left: 47%;
    width: 50px;
    height: 28px;
    width: 100px;
    height: 56px;
    background:
      radial-gradient(farthest-side,#766DF4 90%,#0000) 50%  0,
      radial-gradient(farthest-side,#766DF4 90%,#0000) 100% 0;
    background-size:24px 24px;
    background-repeat: no-repeat;
    position: relative;
    animation: d3-0 1.5s linear infinite;
  }
  .custom-loader:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background:#766DF4;
    left:0;
    top:0;
    animation: 
      d3-1 1.5s linear infinite,
      d3-2 0.5s cubic-bezier(0,200,.8,200) infinite;
  }
  
  @keyframes d3-0 {
    0%,31%  {background-position: 50% 0   ,100% 0}
    33%     {background-position: 50% 100%,100% 0}
    43%,64% {background-position: 50% 0   ,100% 0}
    66%     {background-position: 50% 0   ,100% 100%}
    79%     {background-position: 50% 0   ,100% 0}
    100%    {transform:translateX(calc(-100%/3))}
  }
  
  @keyframes d3-1 {
    100% {left:calc(100% + 14px)}
  }
  
  @keyframes d3-2 {
    100% {top:-0.2px}
  }