@media (min-width: 280px) and (max-width: 480px) {
    .header{
        position: relative;
        padding: 25px 20px;
        width: 100%;
        background-color: #fff;
    }

    .header a{
        color: #000;
    }

    .navbar-logo{
        width: 70%;
        font-size: 30px;
    }

    .nav-img{
        width: 20%;
    }

    .navbar .links{
        display: none;
    }

    .navbar .toggle-btn{
        display: block;
    }

    /* Dropdown Menu Section */
    


    /* Home Section */

    #home{
        height: 100vh;
        position: relative;
    }

    .video-container{
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .video-container div{
        width: 350%;
        height: 100%;
    }

    .video-container div img{
        width: 100%;
    }


    .video-slide{
        position: absolute;
        height: 100%;
        width: 400%;
    }

    .content{
        top: 45%;
    }

    .content h1{
        font-size: 70px;
        margin-bottom: 60px;
    }
    
    .content p{
        font-size: 400;
        font-size: 15px;
    }


    /* Social media Section */

    #social-media{
        overflow: hidden;
    }

    #social-media .som-row{
        flex-wrap: wrap;
    }

    .som-logo{
        width: 50%;
    }

    @keyframes slide {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-300%);
        }
    }

    /* Countdown Section */

#counter{
    padding: 5% 15%;
    background-size: cover;
}

#counter::before{
    height: 100%;
}

.countdown{
    margin-bottom: 30px;
}

.launch-time div p{
    font-size: 40px;
}

.launch-time div span{
    font-size: 10px;
    color: #fff;
}


/* Gallery Section */

#gallery{
    padding-bottom: 18%;
}

.gallery-wrapper{
    display: block;
}

.gallery-img{
    width: auto;
    height: 210px;
    margin-bottom: 3px;
}

.carousel-img{
    width: 300px;
    height: 155px;
}

.carousel-content{
    top: 37%;
    left: 14%;
}


/* Lastest Video Section */

#latest{
    padding: 7% 0;
    background-attachment: local;
}

#latest h2{
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    padding: 40px 0 50px 0;
    display: none;
}

.vid{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: none;
}


    /* Footer Section */


    .footer-top{
        display: block;
        padding: 100px 15%;
    }

    .footer-top h3{
        margin-bottom: 30px;
    }

    .bookings, .reach-us{
        width: 100%;
    }

    .reach-us{
        margin-top: 60px;
    }

    .footer-bottom p{
        margin-bottom: 50px;
    }

    /* Bookings Page */

    #booking{
        position: relative;
        padding: 3% 5% 4%;
    }

    .booking-h{
        background-attachment: local;
    }

    .booking-h::before{
        height: 100%;
    }

    .booking-h h1{
        font-size: 39px;
        padding: 23% 0 16%;
    }

    .input-row{
        display: block;
        
    }


    /* Video Page */
    .vidoes-h{
        background-attachment: local;
    }

    #videos{
        padding: 3% 20% 5%;
    
    }

    .v-vid{
        width: 200px;
        height: 120px;
    }

    .v-vid2{
        width: 100%;
        height: 150px;
    }

    .v-vid2 iframe{
        height: 100%;
    }


    .v-vid2:first-child{
        margin-bottom: 50px;
    }

    .videos-btn {
        margin-top: 50px;
    }
}